- var cat = ["Acoustic","Electric","Basses","Collections"]
- var imgs = ["@img/categories/category (1).jpg","@img/categories/category (2).jpg","@img/categories/category (3).jpg","@img/categories/category (4).jpg"]
.categories__title.title Choose based on <span>Categories</span>
.categories__wrapper
	.categories__card 
		.categories__img-ibg
			img(src=imgs[0], alt=cat[0])
			.categories__img-title= cat[0]
	.categories__card 
		.categories__img-ibg
			img(src=imgs[1], alt=cat[1])
			.categories__img-title= cat[1]
	.categories__card 
		.categories__img-ibg
			img(src=imgs[2], alt=cat[2])
			.categories__img-title= cat[2]
	.categories__card 
		.categories__img-ibg
			img(src=imgs[3], alt=cat[3])
			.categories__img-title= cat[3]